<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Django De'La'Test.</title>
</head>
<body>
<h1><a href="{% url 'index' %}">Django De'La'Test</a></h1>
<nav>
    {% if user.is_anonymous %}
        <b><a href="{% url 'registration' %}">Write de'Note</a></b>
        <div style="text-align: right">
            <a href="{% url 'auth' %}">Sign In</a>
            <a href="{% url 'registration' %}">Sing Up</a>
        </div>
    {% else %}
        <b><a href="{% url 'note_add' %}">Write de'Note</a></b>
        <div style="text-align: right">
            <i>Hello, <b>{{ user.username }}</b> | </i>
            <a href="{% url 'logout' %}">Sign Out</a>
        </div>
    {% endif %}
</nav>
<hr style="
    border: none;
    height: 3px;
    background: linear-gradient(to right, #0051b3, #00b9e7);
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
"/>
{% block content %}{% endblock %}
<hr style="
    border: none;
    height: 3px;
    background: linear-gradient(to right, #003a75, #005c73);
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
"/>
<p>© Kazan, {% now "Y" %}</p>
</body>
</html>
