<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Django De'La'Test.</title>
    <link rel="stylesheet" href="{% static 'web/styles.css' %}">
</head>
<body>
<header>
    <h1><a href="{% url 'index' %}">Django De'La'Test</a></h1>
</header>

<nav>
    <div class="nav-left">
        <a href="{% url 'note_add' %}">
            <button type='button' class='small'>Write de'Note.</button>
        </a>
        {% if not user.is_anonymous %}
            <a href="{% url 'note_my' %}">
                <button type='button' class='small'>My se'Notes.</button>
            </a>
        {% endif %}
    </div>
    <div class="nav-right">
        {% if user.is_anonymous %}
            <a href="{% url 'auth' %}">
                <button type='button' class='small'>Sign In.</button>
            </a>
            <a href="{% url 'registration' %}">
                <button type='button' class='small success'>Sign Up.</button>
            </a>
        {% else %}
            <i>Hello, <b>{{ user.username }}</b> |</i>
            <a href="{% url 'logout' %}">
                <button type='button' class='small danger'>Sign Out.</button>
            </a>
        {% endif %}
    </div>
</nav>

<hr class="hr-styled">

<main>
    {% block content %}
        <h2>Wellcum, de'la'lolus!</h2>
        <p>You may be interested in...</p>
    {% endblock %}
</main>

<hr class="hr-styled hr-styled-bottom">

<footer>
    <p>© Kazan, {% now "Y" %}</p>
</footer>
</body>
</html>
