{% extends "web/base.html" %}
{% block content %}
    {% if user.is_authenticated %}
        <h2>Wellcum, de'la'<b>{{ user.username|escape }}</b>!</h2>
    {% endif %}
    <p><i>You may be interested in...</i></p>
    <ul>
        {% for note in notes %}
            <li>
                {% if user.is_authenticated %}
                    <h3><a href="{% url 'note_edit' note.id %}">{{ note.title }}</a></h3>
                {% else %}
                    <h3><a href="{% url 'note_view' note.id %}">{{ note.title }}</a></h3>
                {% endif %}
                <p>
                    {% if note.text|length <= 50 %}
                        {{ note.text|linebreaksbr }}
                    {% else %}
                        {{ note.text|truncatechars:50|linebreaksbr }}
                    {% endif %}
                </p>
            </li>
        {% endfor %}
    </ul>
{% endblock %}


